.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    background-color: #1c1c21;
    padding: 30px;
    border-radius: 20px;
}
.close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    background: none;
    border: none;
    transition: .3s ease-in;
}
.close:hover {
    transform: rotate(90deg);
}