.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 480px;
    height: 240px;
}

.list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}