.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.price {
    display: flex;
    justify-content: center;
}

.counter {
    position: absolute;
    right: 0;
    top: 0;
}


.name {
    height: 48px;
}


